 .choice-container {
    border-radius: 5px; 
    display: flex;
     margin-bottom: 5px;
     width: 100%;
     font-size:  18px;
     border: 1px solid rgb(61, 19, 129);
     background-color: rgb(61, 19, 129);
 }

 .choice-container:hover {
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgb(26, 26, 85);
    transform: translateY(-1px);
    transition: transform 100ms;

 }

 .choice-prefix {
     padding: 15px 25px;
     background-color: rgb(61, 19, 129);
     color: white;
 }



 .choice-text {
     padding: 15px;
     color:white;
 }

 .correct {
     background-color: rgb(146, 36, 248);

 }

 .incorrect{
     background-color: aliceblue;
 }